<nav id="sidebar">
  <div class="sidebar-header">
    <img src="assets/img/logo.png" height="46px" width="150px"/>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
         Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>

    <li>
      <a>
        <i class="fa fa-home" aria-hidden="true"></i>
        Home
      </a>
    </li>
  </ul>

</nav>
