<div class="login-page">
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img src="assets/img/logo.png" width="300px" />
      <form name="form" class="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm">
        <div class="form-content">
          <div class="form-group">
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" placeholder="Email Address" required autofocus="" />
          </div>

          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="model.password" #password="ngModel" required=""/>
          </div>
        </div>
        <input class="btn rounded-btn btn-lg btn-success btn-block" type="submit" value="Login">
      </form>
    </div>
  </div>
</div>
