$site-background: #f3f3f4;
$main-color: #4D5DD4;
$logo-color: white;
$main-toolbar-color: #061190;
$secondary-toolbar-color: #78A6E7;
$dark-gray-text: #999c9e;
$standard-text: #676a6c;
$secondary-color: orange;
$menu-font-color: #a7b1c2;
$gray-background: #EDEDED;
$border-color: #e7eaec;
